.article-reader__container {
    max-height: 100%;
    padding: 0.5em;
    word-wrap: break-word;
    text-align: start;
    line-height: 1.4em;
}

.article-reader__header {
    justify-content: flex-end;
    display: flex;
}

.article-reader__close-button {
    border: none;
    background: initial;
    cursor: pointer;
}

.article-reader__close-button:active {
    color: text;
}

.article-reader__title {
    margin: 0;
    line-height: 1.2em;
}

.article-reader__link {
    display: flex;
    color: inherit;
    text-decoration: none;
}

.article-reader__link:hover {
    cursor: pointer;
    background: gainsboro;
}

img {
    width: 100%;
    height: 100%;
}

@media screen {
    .article-reader__content {
        padding-top: 35px;
        padding-bottom: 35px;
        margin: 0 auto;
    }

    .article-reader__content video {
        height: auto;
    }
}

@media screen and (max-width: 414px) {
    .article-reader__container {
        padding: 1em;
    }

    .article-reader__content {
        padding-top: 0;
    }
}

@media screen and (max-width: 569px) {
    h1.title {
        font-size: 1.5558em;
    }
    h1 {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 704px) {
    .article-reader__content {
        padding-left: 42px;
        padding-right: 42px;
    }
}

@media only screen and (min-width: 780px) {
    .article-reader__container {
        max-width: 800px;
        margin: 0 auto;
    }

    .article-reader__content {
        padding-left: 0px;
        padding-right: 0px;
    }
}
