<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 shrink-to-fit=no" />

    <title>Miniboard</title>

    <link rel="stylesheet" href="/vendor/spectre@0.5.9/spectre.min.css" />
    <link rel="stylesheet" href="/vendor/spectre@0.5.9/spectre-icons.min.css" />

    <link rel="stylesheet" href="/users/style.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5" />
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <button id="add-button" class="btn btn-action">
                <i class="icon icon-plus"></i>
            </button>
        </section>
        <section class="navbar-section">
            <a href="/logout/">Logout</a>
        </section>
    </header>
    <div id="layout" class="columns">
        <div class="column col-3" style="height: 100%;">
            <ul id="tags-list" class="menu">
                {{ range .Tags }}
                    {{ template "files/components/tag.html" . }}
                {{ end }}
                <li id="no-tags-list"></li>
                {{ range .Subscriptions }}
                    {{ template "files/components/subscription.html" . }}
                {{ end }}
            </ul>
        </div>
        <div class="column col-3" style="height: 100%;">
            <ul id="items-list" class="menu">
                {{ range .Items }}
                    {{ template "files/components/item.html" . }}
                {{ end }}
            </ul>
        </div>
        <div id="reader" class="column col-6">
            {{ template "files/components/reader.html" .Item }}
        </div>
    </div>

    <div id="modal" class="modal modal-sm">
        <div id="background"></div>
        <div class="modal-container">
            <div class="modal-body">
                <div class="content input-group">
                    <input id="input-url" class="input-group-addon  addon-lg" placeholder="Link, RSS" />
                    <input type="file" class="input-group-addon addon-lg" id="input-file" />
                    <label for="input-file" class="m-2 c-hand">
                        <i class="icon icon-2x icon-upload"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script src="/users/script.js"></script>
    <script>
        const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
        const webdockerUrl = protocol + '//' + window.location.hostname + '/api/ws/';
        const socket = new WebSocket(webdockerUrl);

        const sendMessage = (event, params) => {
            const request = JSON.stringify({
                id: Math.floor(performance.now()),
                event: event,
                params: params,
            });
            socket.send(request);
        }

        socket.onmessage = (message) => {
            const data = JSON.parse(message.data);
            if (data.error) {
                console.error(data.error);
                return;
            }
            const target = document.querySelector(data.target);
            if (data.reset) target.innerHTML = '';
            if (data.html === "") return;
            target.insertAdjacentHTML(data.insert, data.html);
        }
    </script>
</body>

</html>
