<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 shrink-to-fit=no" />

    <title>Miniboard</title>

    <link rel="stylesheet" href="/vendor/spectre@0.5.9/spectre.min.css" />
    <link rel="stylesheet" href="/vendor/spectre@0.5.9/spectre-icons.min.css" />

    <link rel="stylesheet" href="/users/style.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5" />

    <script src="/users/script.js"></script>
</head>

<body>
    <div class="container" style="height: 100%";>
        <header class="navbar">
            <section class="navbar-section">
                <button id="add-button" class="btn btn-link" onclick="showModal()">Subscribe</button>
            </section>
            <section class="navbar-section">
                <a href="/logout/">Logout</a>
            </section>
        </header>
        <div id="layout" class="columns">
            {{ $tagsItems := contains .URL.Path "/tags/" }}
            {{ $subscriptionsItems := contains .URL.Path  "/subscriptions/" }}
            {{ $items := or $tagsItems $subscriptionsItems }}
            {{ $item := not ( or ( hasSuffix .URL.Path "/items/" ) ( hasSuffix .URL.Path "/users/" ) ) }}
            <div id="menu" class="column col-3  col-md-12{{ if $item }} hide-md{{ end }}" style="height: 100%;">
                <div id="tags-subscriptions" class="{{ if $items }}d-hide{{ end }}" style="height: 100%;">
                    <ul id="tags-list" class="menu">
                        {{ range .Tags }}
                            {{ template "files/components/tag.html" . }}
                        {{ end }}
                        <li id="no-tags-list"></li>
                        {{ range .Subscriptions }}
                            {{ template "files/components/subscription.html" . }}
                        {{ end }}
                    </ul>
                </div>
                <div id="items" class="{{ if not $items }}d-hide{{ end }}" style="height: 100%;">
                    <button class="btn btn-link" onclick="hideItems()"><i class="icon icon-arrow-left"></i>Back</button>
                    <ul id="items-list" class="menu" onscroll="onItemsScroll(this)">
                        {{ range .Items }}
                            {{ template "files/components/item.html" . }}
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div id="item" class="column col-9 col-md-12{{ if not $item }} hide-md{{ end }}" style="height: 100%;">
                <button class="btn btn-link hide show-md" onclick="hideItem()"><i class="icon icon-arrow-left"></i>Back</button>
                <div id="reader">
                    {{ template "files/components/reader.html" .Item }}
                </div>
            </div>
        </div>
    </div>

    <div id="modal" class="modal modal-sm">
        <div id="background" onclick="closeModal()"></div>
        <div class="modal-container">
            <div class="modal-body">
                <div class="content input-group">
                    <input id="input-url" class="input-group-addon  addon-lg" placeholder="Link, RSS" />
                    <input type="file" class="input-group-addon addon-lg" id="input-file" onchange="onInputChange(this)" />
                    <label for="input-file" class="m-2 c-hand">
                        <i class="icon icon-2x icon-upload"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
