<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 shrink-to-fit=no" />

    <title>Miniboard</title>

    <link rel="stylesheet" href="/vendor/spectre@0.5.9/spectre.min.css" />
    <link rel="stylesheet" href="/vendor/spectre@0.5.9/spectre-icons.min.css" />

    <link rel="stylesheet" href="/users/style.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5" />
</head>

<body>
    <div id="container" class="container" style="height: 100%">
        <div id="layout" class="columns" style="height: 100%">
            <div id="menu" class="column col-3">
                <ul id="tags-list" class="menu">
                    <button id="add-button" class="btn btn-primary">Add</button>
                    {{ range .Tags }}
                        <li class="menu-item">
                            {{ template "files/components/tag.html" . }}
                        </li>
                    {{ end }}
                </ul>
                <ul id="no-tags-list" class="menu">
                    {{ range .Subscriptions }}
                        {{ template "files/components/subscription.html" . }}
                    {{ end }}
                </ul>
            </div>
            <ul id="items-list" class="menu column col-3">
                {{ range .Items }}
                    {{ template "files/components/item.html" . }}
                {{ end }}
            </ul>
            <div id="content" class="column col-6">
                <div id="reader">
                    {{ template "files/components/reader.html" .Item }}
                </div>
            </div>
        </div>
    </div>

    <div id="modal" class="modal modal-sm">
        <div id="background"></div>
        <div class="modal-container">
            <div class="modal-body">
                <div class="content">
                    <input id="input-url" placeholder="Link, RSS" />
                    <input type="file" id="input-file" />
                    <label for="input-file" id="input-icon">
                        <svg viewBox="0 0 24 24" width="30" height="30" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="17 8 12 3 7 8"></polyline>
                            <line x1="12" y1="3" x2="12" y2="15"></line>
                        </svg>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script src="/users/script.js"></script>
    <script>
        const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
        const webdockerUrl = protocol + '//' + window.location.hostname + '/api/ws/';
        const socket = new WebSocket(webdockerUrl);

        const sendMessage = (event, params) => {
            const request = JSON.stringify({
                id: Math.floor(performance.now()),
                event: event,
                params: params,
            });
            socket.send(request);
        }

        socket.onmessage = (message) => {
            const data = JSON.parse(message.data);
            if (data.error) {
                console.error(data.error);
                return;
            }
            const target = document.querySelector(data.target);
            if (data.reset) target.innerHTML = '';
            if (data.html === "") return;
            target.insertAdjacentHTML(data.insert, data.html);
        }
    </script>
</body>

</html>
