.pure-menu-children {
    position: unset;
    margin-left: 1em;
    display: block;
}

.button-hidden {
    padding: 0;
}

.button-hidden, .button-hidden:active, .button-hidden:focus, .button-hidden:hover {
    background: none;
    box-shadow: none;
}

.rotate-90 {
    transform: rotate(90deg);
}

.title-oneline {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item {
    cursor: pointer;
    padding: 0.9em 1em;
}

.item-title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    width: 100%;
}

.item-title, .item-subscription-title {
    margin: 0;
}

.item-subscription-title {
    color: #999;
}

.item-subscription-icon {
    border-radius: 3px;
    margin-right: 0.5em;
}

#reader {
    padding: 1em;
}

html, body, #layout, #menu, #items-list, #content {
    height: 100%;
}

#menu, #items-list, #content {
    overflow-y: scroll;
}

#add-button {
    width:100%;
    font-size:larger;
}

#toasts-container {
    position: fixed;

    bottom: 1em;
    left: 1em;
}

.toast-container {
    visibility: hidden;

    background: white;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

    display: flex;
}

.toast-container .toast-message {
    display: flex;
    align-items: center;

    max-width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.toast-container .toast-button {
    display: flex;
    align-items: center;

    background: inherit;
    font-size: inherit;

    cursor: pointer;

    margin: 0;
    padding: 0;
    border: 0;
}

.toast-container .toast-button:active {
    color: inherit;
}

.toast-container.show {
    visibility: visible;
}

#modal #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

#modal #content {
    display: inline-flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100vw - 4em);
    max-width: 32em;
    max-height: calc(100vh - 4em);
    overflow: auto;
    transform: translate(-50%,-50%);
    padding: 1em;
    border-radius: 0.3em;
    background: white;
}

#modal #input-url {
    font: inherit;
    font-size: 1.5em;
    border: 0;
    width: 100%;
}

#modal #input-url:focus {
    outline: none;
}

#modal #input-file {
    display: none;
}

#modal #input-icon {
    cursor: pointer;
}
