#feeds {
    display: flex;
    flex-direction: column;

    min-width: 10em;
    width: 20%;
}

#feeds-list {
    list-style: none;
    margin: 0;
    padding: 0;

    overflow-y: auto;
}

#feeds-add-button {
    font-size: larger;
    height: 20%;
}
