.pure-menu-children {
    position: unset;
    margin-left: 1em;
    display: block;
}

.button-hidden, .button-hidden:active, .button-hidden:focus, .button-hidden:hover {
    border: 0;
    padding: 0;
    background: none;
    box-shadow: none;
}

.rotate-90 {
    transform: rotate(90deg);
}

 .item-subscription-title, .subscription-title, .tag-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tag, .subscription, .item {
    cursor: pointer;
}

.tag, .subscription {
    padding: .5em 1em;
}

.tag-subscriptions {
    padding-left: 0.5em;
}

.item {
    padding: 0.9em 1em;
}

.item-title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    width: 100%;
}

.item-title, .item-subscription-title {
    margin: 0;
}

.item-subscription-title {
    color: #999;
}

.tag-arrow, .subscription-icon {
    border-radius: 3px;
    margin-right: 0.5em;
}

#reader {
    padding: 1em;
}

html, body, #layout, #menu, #items-list, #content {
    height: 100%;
}

#menu, #items-list, #content {
    overflow-y: scroll;
}

#add-button {
    width:100%;
    font-size:larger;
}

#modal #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

#modal #content {
    display: inline-flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100vw - 4em);
    max-width: 32em;
    max-height: 2em;
    overflow: auto;
    transform: translate(-50%,-50%);
    padding: 1em;
    border-radius: 0.3em;
    background: white;
}

#modal #input-url {
    font: inherit;
    font-size: 1.5em;
    border: 0;
    width: 100%;
}

#modal #input-url:focus {
    outline: none;
}

#modal #input-file {
    display: none;
}

#modal #input-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
}
