#reader-container {
    max-height: 100%;
    overflow-y: scroll;
    padding: 0.5em;
    word-wrap: break-word;
    text-align: start;
    line-height: 1.4em;
}

#reader-page {
    max-width: 660px;
}

#reader-title {
    margin: 0;
    line-height: 1.2em;
}

#reader-link {
    display: flex;
    color: inherit;
    text-decoration: none;
}

#reader-link:hover {
    cursor: pointer;
    background: gainsboro;
}

img {
    width: 100%;
    height: 100%;
}

@media screen {
    #reader-page {
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #reader-page video {
        height: auto;
    }
}

@media screen and (max-width: 414px) {
    #reader-container {
        padding: 1em;
    }

    #reader-page {
        padding-top: 0;
    }
}

@media screen and (max-width: 569px) {
    h1.title {
        font-size: 1.5558em;
    }
    h1 {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 704px) {
    #reader-page {
        padding-left: 42px;
        padding-right: 42px;
    }
}

@media only screen and (min-width: 780px) {
    #reader-container {
        max-width: 800px;
        margin: 0 auto;
    }

    #reader-page {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 70px;
        margin-right: 70px;
    }
}
