body {
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5%;
}

#add-toggle {
    display: none;
}

#add-toggle-label {
    cursor: pointer;
}

#add-toggle + label + #add-form {
    display: none;
}

#add-toggle:checked + label + #add-form {
    display: flex;
}

#add-form {
    display: flex;
}

#add-form-button {
    padding-left: 0; padding-right: 0;
    border: 0;
    background: inherit;
}

#add-form-file {
    display: none;
}

#add-form-file-label {
    cursor: pointer;
}

.hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

#body {
    display: flex;
    width: 100%;
    height: 95%;
}

#feeds-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow-y: scroll;
}

#articles-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow-y: scroll;
}

#reader-container {
    height: 100%;
    width: 60%;
}

/* spinner */

.spinner {
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
