body {
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#add-toggle {
    display: none;
}

#add-toggle + label + #add-form {
    display: none;
}

#add-toggle:checked + label + #add-form {
    display: flex;
}

#add-form {
    display: flex;
}

#add-form-button {
    padding-left: 0; padding-right: 0;
    border: 0;
    background: inherit;
}

.hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

#body {
    width: 100%;
    display: flex;
}

#feeds-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

#articles-list {
    height: 100%;
    width: 20%;
}

#reader-container {
    height: 100%;
    width: 60%;
}
