.article__article-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.2em;
}

.article__article-container:hover {
    background: #cccccc;
}

.article__feed-container {
    display: inline-flex;
    align-items: center;
}

.article__feed-icon {
    margin-right: 0.2em;
    min-width: 20px;
    width: 20px;
    height: 20px;
}

.article__feed-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller;
}

.article__article-title {
    margin: 0.1em;
}
