body {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    display: flex;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

input, button {
    font-size: larger;
}
