<li class="menu-item" created="{{ .Created | timeformat }}">
    <div class="tile tile c-hand" onclick="onItemSelected('{{ .ID }}')">
        <div class="tile-icon">
            <figure class="avatar avatar-sm">
                <img src="{{ with .SubscriptionIcon }}{{ . }}{{ else }}/img/rss.svg{{ end }}" alt="{{ .SubscriptionTitle }}">
            </figure>
        </div>
        <div class="tile-content">
            <small class="tile-title item-subscription-title">{{ .SubscriptionTitle }}</small>
            <p class="tile-subtitle item-title">{{ .Title }}</p>
        </div>
    </div>
</li>
