<li class="menu-item">
    <div class="accordion">
        <input type="checkbox" id="accordion-{{ .Tag.ID }}" name="accordion-checkbox" hidden>
        <label class="accordion-header c-hand" for="accordion-{{ .Tag.ID }}">
            <i class="icon icon-arrow-right mr-1"></i>
            <button class="button-hidden c-hand tag-title" onclick="onTagSelected('{{ .Tag.ID }}')">{{ .Tag.Title }}</button>
        </label>
        <div class="accordion-body">
            <ul id="children-{{ .Tag.ID }}" class="menu">
                {{ range .Subscriptions }}
                    {{ template "files/components/subscription.html" . }}
                {{ end }}
            </ul>
        </div>
    </div>
</li>
