<template>
    <link rel="stylesheet" href="/users/components/AddController/AddModal/AddModal.css" />
    <div class="modal__background"></div>
    <div class="modal__content">
        <input class="modal__input-url" placeholder="Link, RSS" />
        <input type="file" id="file" class="modal__input-file" />
        <label for="file" class="modal__input-icon">
            <svg viewBox="0 0 24 24" width="30" height="30" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="17 8 12 3 7 8"></polyline>
                <line x1="12" y1="3" x2="12" y2="15"></line>
            </svg>
        </label>
    </div>
</template>
