<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 shrink-to-fit=no" />

    <title>Miniboard</title>

    <link rel="stylesheet" href="/vendor/purecss@2.0.5/base-min.css" />
    <link rel="stylesheet" href="/vendor/purecss@2.0.5/buttons-min.css" />
    <link rel="stylesheet" href="/vendor/purecss@2.0.5/grids-min.css" />

    <link rel="stylesheet" href="/users/style.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5" />
</head>

<body>
    <div id="layout" class="pure-g">
        <div id="menu" class="pure-u-5-24">
            <button id="add-button" class="pure-button pure-button-primary">Add</button>
            <div id="tags-list">
                {{ range .Tags }}
                    {{ template "files/components/tag.html" . }}
                    <div id="{{ .ID }}-children" class="tag-subscriptions" hidden>
                        {{ range index $.SubscriptionsByTagID .ID }}
                            {{ template "files/components/subscription.html" . }}
                        {{ end }}
                    </div>
                {{ end }}
            </div>
            <div id="no-tags-list">
                {{ range index $.SubscriptionsByTagID "" }}
                    {{ template "files/components/subscription.html" . }}
                {{ end }}
            </div>
        </div>
        <div id="items-list" class="pure-u-5-24">
            {{ range .Items }}
                {{ template "files/components/item.html" . }}
            {{ end }}
        </div>
        <div id="content" class="pure-u-14-24">
            <div id="reader">
                {{ template "files/components/reader.html" .Item }}
            </div>
        </div>
    </div>

    <div id="toasts-container"></div>

    <div id="modal" hidden>
        <div id="background"></div>
        <div id="content">
            <input id="input-url" placeholder="Link, RSS" />
            <input type="file" id="input-file" />
            <label for="input-file" id="input-icon">
                <svg viewBox="0 0 24 24" width="30" height="30" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                    <polyline points="17 8 12 3 7 8"></polyline>
                    <line x1="12" y1="3" x2="12" y2="15"></line>
                </svg>
            </label>
        </div>
    </div>

    <script src="/users/script.js"></script>
    <script>
        const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
        const webdockerUrl = protocol + '//' + window.location.hostname + '/api/v1/ws';
        const socket = new WebSocket(webdockerUrl);

        const sendMessage = (event, params) => {
            const request = JSON.stringify({
                id: Math.floor(performance.now()),
                event: event,
                params: params,
            });
            socket.send(request);
        }

        socket.onmessage = (message) => {
            const data = JSON.parse(message.data);
            if (data.error) {
                console.error(data.error);
                return;
            }
            const target = document.querySelector(data.target);
            if (data.reset) target.innerHTML = '';
            if (data.html === "") return;
            target.insertAdjacentHTML(data.insert, data.html);
        }
    </script>
</body>

</html>
