h1 {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

#code-form {
    visibility: hidden;
}

input {
    border: 1px solid;
    font-size: 1.1em;
    padding: 0.3em;
}

input:focus {
    outline: none;
    outline-width: 0;
}

button {
    padding-left: 0; padding-right: 0;
    border: 0;
    background: inherit;
}
